@import "@/assets/scss/settings/variables";
@import "@/assets/scss/mixins";

.hero-section {
  min-height: 100vh;
  color: $white;
  padding: 140px 40px 40px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: normal;
  box-sizing: border-box;

  div {
    flex: 1;

    &.claims {
      display: flex;
      flex-direction: column-reverse;
      row-gap: 20px;

      a {
        display: inline-block;
        align-self: flex-end;
        margin: 0 auto;
      }
    }

    .claim {
      font-size: 2rem;
      text-align: center;
      margin-bottom: 0.5em;
      @include media-min(768px) {
        font-size: 3.5rem;
      }
    }

    .date {
      font-size: 1.5rem;
      text-align: center;
      margin-bottom: 1em;

      @include media-min(768px) {
        font-size: 2.5rem;
      }
    }

  }
}
