:root {
  --text-color: #222;
  --text-contrast-color: #{$white};
  --blue: #{$blue};
  --red: #{$red};
  --white: #fff;

  --dark-blue: #1f466f;
  --turquoise: #3ccac8;
  --blue-violet: #646bc9;
  --purple: #7d54c8;
  --dark-purple: #9240be;
  --pink: #dd72c1;
  --orange: #ffb34b;
  --yellow: #dbd747;

}
