.page {
  padding-top: 90px;
  max-width: 1440px;
  margin: 0 auto;
  min-height: calc(100vh - 50px - 300px);
  color: $white;
  font-size: 18px;

  margin-bottom: 70px;

  @include media-min($sm) {
    margin-bottom: 100px;
  }

  &__header {
    margin-bottom: 50px;
  }

  &__block {
    margin-bottom: 50px;
    line-height: 1.4em;
  }

  &__text-block {
    max-width: 900px;
  }


  p {
    margin-bottom: 1.4em;
    line-height: 1.4em;
  }

  .center {
    text-align: center;
  }


}

.heading-1 {
  font-size: 60px;
  @include text-gradient();

  span {
    @include text-gradient();
  }
}
