.page--workshop {
  max-width: 800px;

  .page__header {
    .heading-1 {
      margin-bottom: 10px;
    }
  }

  .workshop {
    &__footer {
      margin-top: 40px;
      text-align: center;
    }


    &__subsection {
      margin-bottom: 60px;
      background: rgba(0,0,0,0.6);
      padding: 15px;

      .heading-3 {
        margin-bottom: 20px;
      }
    }

    &__speaker-card {
      display: flex;
      flex-direction: row;
      gap: 16px;
    }

    &__speaker-details {
      display: flex;
      gap: .3rem;
      flex-direction: column;
      justify-content: center;

      &-name {
        font-size: 1.5rem;
        font-weight: bold;
        margin-bottom: 12px;
      }

      &-position {
        font-size: 1rem;
        font-weight: normal;

        a {
          color: #fff;
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }

    &__lang {
      font-size: 4rem;
    }

    &__speaker {
      color: #fff;
      display: flex;
      gap: 15px;
      align-items: center;
      text-decoration: none;

      &-image {
        width: 120px;
        height: 120px;
        border-radius: 50%;
        transition: all 0.3s ease-in-out;
        background-color: #fff;
        object-fit: scale-down;

        &:hover {
          text-decoration: underline;
          scale: 1.2;
        }
      }
    }

    &__speakers {
      li {
        margin-bottom: 10px;
      }
    }
  }
}
