@import "~/assets/scss/mixins";

.btn {
  display: inline-block;
  padding: 15px 35px;
  color: var(--dark-blue);
  text-decoration: none;
  font-size: 16px;
  margin: 0 20px 10px 0;
  border-radius: 9999px;


  background: var(--turquoise);

  &:not(.btn--disabled):hover {
    color: var(--text-contrast-color);
    @include gradient();
  }

  @include media-min(768px) {
    font-size: 20px;
    margin: 0 20px 10px 0;
  }
}
